button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffe4c4a4;
    border: 2px solid #ffe4c4df;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
}
