/* Body */
body {
    position: relative;
    background-image: url("./assets/bird_fying_high.png"), url("./assets/bg-4.jpg");
    background-size: 80px, auto;
    background-position: right top, center;
    background-position-y: center;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, scroll;
}

.josefin-sans-bold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


h1 {
  font-size: 5rem;
}
p {
  font-size: 2rem;
}
.green {
  animation: paintGreen 100ms 1 forwards;
  
}
.red {
  animation: paintRed 1s 1 forwards;
  
}
span {
  padding-left: 5px;
  padding-right: 5px;
  
}
@keyframes paintGreen {
  from {color: black; background-color: none;}
  to {color: white; background-color: #2AA5A5;}
}
@keyframes paintRed {
  from {color: black; background-color: none;}
  to {color: white; background-color: #FF4000;}
}
