button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffe4c4a4;
    border: 2px solid #ffe4c4df;
}

.red-heading {
    color:tomato;
    font-family: cursive;
}  


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.myDiv {
    border: 5px solid brown;
    width: 200px;
    height: 100px;
    padding: 20px;
    font-size: xxx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
